@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
    color: rgb(0, 134, 126);
}

a.active hr{
    background-color: rgb(0, 134, 126);
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  